*{
    margin: 0%;
}
.navbar{
    display: flex;
}
.logo{
    background-image: url(./img2/raka.png) ;
    background-size: cover;
    height: 7vh;
    width: 20vh;
    position: relative;
    left: 4vh;
    top: 5vh;
}

.books{
    background-image: url(./img/booksimg.png);
    background-size: cover;
    height: 15.5vh;
    width: 22vh;
    position: relative;
    margin-left: 16vh;
    margin-top: 5vh;
}
.navele a{
    text-decoration: none;
    color: #44D7EC;
    font-weight: bold;
}
.navele{
    font-size: 3vh;
    display: flex;
    margin-top: 6.3vh;
    margin-left: 18vh;
    gap: 13vh;
}

input{
    height: 5vh;
    border-radius: 3vh;
    margin-left: 9.5vh;
    margin-top: 4.7vh;
    text-align: center;
    font-size: 2vh;
    color: black;
    border: #44D7EC,0.5vh,solid;
}
::placeholder{
    color: #44D7EC;
    font-size: 2.5vh;
}
.nxtflex{
    display: flex;
    justify-content: space-between;

}
.flr{
    background-image: url(./img2/Shape.png);
    background-size: contain;
    height: 45vh;
    width: 14vh;
    position: relative;
    bottom: 10vh;
}
.singlebook{
    background-image: url(./img2/single\ book.png);
    background-size: cover;
    height: 7vh;
    width: 24vh
}

.libr{
    background-image: url(./img2/Design.png);
    background-size: cover;
    height: 55vh;
    width: 100vh;
    position: relative;
    top: 2vh;
}
.title{
    background-image: url(./img2/Title.png);
    background-size: cover;
    height: 40.7vh;
    width: 58vh;
    position: relative;
    top: 4vh;
}

.grid{
    display: flex;
    flex-direction: column;
    
}
.grid1{
    display: flex;
}
.read{
    margin-top: 3vh;
    background-color: #44D7EC;
    width: 30vh;
    height: 6vh;
    border: none;
    font-size: 3vh;
    font-weight: 600;
    font-family:cursive;
    color: aliceblue;
    position: relative;
    top: 4.5vh;
}

.amc{
    color: #44D7EC;
    position: relative;
    top: 9.45vh;
    font-weight: 600;
    margin-left: 15vh;
}
.qgrid{
    color: #44D7EC;
    margin-top: 7vh;
    margin-left: 10vh;
}

.qgrid h3{
    font-size: 5vh;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}
.qgrid p{
    font-size: 4vh;
    font-weight: 500;
}

.nxtflex1{
    display: flex;
    
}

.dflr{
  background-image: url(./img2/shape2.png);
  background-size: cover;
  height: 20vh;
  width:50vh;
  margin-left: 17vh;
  margin-top: 4vh;
}
.sbook{
    background-image: url(./img/booksimg.png);
    background-size: cover;
    height: 15.5vh;
    width: 22vh;
    margin-left: 30vh;
    margin-top: 3vh;
}